@use '../../Scss-Sass/Helpers/' as *;

.bag {
    &__wrapper {
        display: flex;
        align-items: flex-start;
        column-gap: rem(30);
    }

    &__group,
    &__top,
    &__content {
        display: flex;
        flex-direction: column;
    }

    &__group {
        row-gap: rem(30);
        width: 100%;
    }

    &__top {
        align-items: center;
        row-gap: rem(5);
    }

    &__title{
        padding: rem(10);
    }

    &__content {
        width: 100%;
        &-top {
            display: flex;
            align-items: center;
        }

        &-box {
            display: flex;
            align-items: center;
            column-gap: rem(5);
            width: 50%;
            color: #003087;
            font-size: rem(18);
            padding: rem(10);
        }
        
        &-image{
            width: rem(35);
        }
    }
}