@use '../../Scss-Sass/Helpers/' as *;

.whishList {
    padding-block: rem(30);
    padding-inline: rem(35);

    @include respond('max', $tablet) {
        padding-inline: rem(15);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: rem(15);
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(5);

        @include respond('max', $tablet) {
            .product__box-item {
                &:nth-child(2n + 1) {
                    display: none !important;
                }
            }
        }
    }

    &__left {
        &-title {
            color: var(--color-grey);
            font-weight: 600;
            font-size: rem(30);
        }

        &-subtitle {
            color: var(--color-grey);
            font-weight: 700;
            font-size: rem(17);
            margin-right: rem(15);
        }

        &-content {
            display: flex;
            align-items: center;
            column-gap: rem(3);
        }

        &-box {
            border: rem(1) solid #d3d3d3;
            padding: rem(3) rem(10);
            color: #4c4c4c;
            font-size: rem(15);
            transition-duration: var(--transition-duration);
            border-radius: rem(3);
            cursor: pointer;

            @include hover {
                background-color: #193db0;
                color: var(--color-light);
            }
        }
    }

    &__right {
        align-items: flex-end;

        .product__box {
            margin-right: 0;
        }

        &-box {
            display: flex;
            align-items: center;
            border: rem(1) solid #193db0;
            padding: rem(10) rem(5);
            border-radius: rem(5);
            font-size: rem(15);
            color: #4c4c4c;
        }
    }

    &__bottom {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(20) rem(10);

        @include respond('max', $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        .card {
            transition-duration: var(--transition-duration);

            @include hover {
                box-shadow: 0 0 rem(30) 0 rgba(0, 0, 0, .2);
            }
        }
    }
}