@font-face {
    font-family: 'Open Sans';
    src: url(../../Assets/Fonts/OpenSans-Regular.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../../Assets/Fonts/OpenSans-SemiBold.woff2) format('woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../../Assets/Fonts/OpenSans-Bold.woff2) format('woff2');
    font-style: normal;
    font-weight: 700;
}