@use '../../Scss-Sass/Helpers/' as *;

.order {
    &__wrapper {
        display: flex;
        justify-content: space-between;

        @include respond('max', $mobile) {
            flex-direction: column;
        }
    }

    .form {
        @include respond('min', $mobile) {
            width: 50%;
            position: relative;

            &:first-child {
                border-right: rem(1) solid #cbcbcb;
            }
        }

        &:last-child {
            .form__bottom {
                display: none;
            }
        }
    }
}