@use '../../../Scss-Sass/Helpers/' as *;

.product {

    &__wrapper,
    &__top {
        display: flex;
        flex-direction: column;
    }

    &__info,
    &__description {
        font-weight: 500;
    }

    &__wrapper {
        row-gap: rem(10);
    }

    &__top {
        row-gap: rem(15);
        padding-inline: rem(20);
        margin-bottom: rem(20);

        @include respond('max', $tablet) {
            padding-inline: rem(12);
        }

        &-filter {
            font-weight: 700;
        }
    }

    &__title {
        font-weight: 700;
        font-size: rem(25);
    }

    &__info {
        font-size: rem(18);
    }

    &__description {
        font-size: rem(16);
        color: #878787;
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: rem(20);
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
    }

    &__item {
        display: flex;
        align-items: center;
        column-gap: rem(10);
        padding: rem(5) rem(10);
        border: rem(1) solid #b6b6b6;
        border-radius: rem(20);

        @include respond('max', $tablet) {
            padding-right: rem(25);
        }

        &-title {
            font-size: rem(16);
            font-weight: 500;
        }

        &-image {
            width: rem(20);
        }
    }

    &__filter {
        border: rem(1) solid #ddd;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;
        padding-inline: rem(10);

        @include respond('min', $tablet) {
            display: none;
        }

        &-box {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 1rem;
            height: rem(40);

            &:not(:last-child) {
                border-right: rem(1) solid #ddd;
            }
        }
    }
}