@use '../../../Scss-Sass/Helpers/' as *;

.header {
    display: flex;
    flex-direction: column;
    box-shadow: 0 rem(3) rem(6) 0 rgba(0, 0, 0, .06);
    

    &__inner {
        width: 100%;
        padding-inline: rem(30);

        @include respond('max', $tablet) {
            padding-inline: rem(15);
        }
    }

    &__top {
        padding-block: rem(10);
        background-color: #f5f5f5;

        @include respond('max', $tablet) {
            display: none;
        }

        &-inner {
            display: flex;
            align-items: center;
            column-gap: rem(5);
            color: var(--color-grey);
        }

        &-title{
            font-size: rem(18);
        }
    }
}