@use '../../../Scss-Sass/Helpers/' as *;

.card {
    border-radius: rem(5);
    position: relative;
    cursor: pointer;

    @include hover {
        .card__overlay {
            visibility: visible;
            bottom: rem(170);
            transition-duration: var(--transition-duration);
        }
    }

    &__image {
        width: 100%;
    }

    &__wrapper,
    &__content {
        display: flex;
        flex-direction: column;
    }

    &__content {
        padding: rem(15);
        row-gap: rem(10);
        color: #555;
    }

    &__title {
        font-weight: 700;
        font-size: rem(18);
    }

    &__price {
        color: #193db0;
        font-weight: 700;
    }

    &__overlay,
    &__liked {
        position: absolute;
    }

    &__liked {
        @include square(rem(40));
        display: flex;
        justify-content: center;
        top: rem(10);
        right: rem(10);
        box-shadow: 0 rem(3) rem(6) 0 rgba(0, 0, 0, .16);
        border-radius: rem(5);
        background-color: var(--color-light);
        cursor: pointer;
    }

    &__overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: rem(15);
        visibility: hidden;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: var(--color-light);
        padding-block: rem(5);
        color: var(--color-grey);
    }
}