@use '../../../Scss-Sass/Helpers/' as *;

.title {
    width: 100%;
    font-size: rem(18);
    background-color: #f8f8f8;

    &__inner {
        display: flex;
        align-items: center;
        column-gap: rem(50);
        padding: rem(10) rem(20);

        @include respond('max', $tablet) {
            padding-inline: rem(12);
        }
    }

    &__content {
        display: flex;
        align-items: center;
        column-gap: rem(10);
    }

    &__content,
    &__main {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: rem(2);
            left: rem(-25);
            background-color: #555;
        }
    }

    &__main {
        font-weight: 700;

        &::after {
            transform: rotate(35deg);
        }
    }
}